
@{
    ViewBag.Title = "PracticeEx8";
}

<h2>PracticeEx8</h2>
<h1>passing data from controller to view</h1>

@ViewBag.name<br />
@ViewData["city"]  </br>





<br />
@Html.ActionLink("go to home", "index", "home")