
@{
    ViewBag.Title = "PracticeEx7";
}

<h2>PracticeEx7</h2>


<h1>passing data from controller to view</h1>



@ViewData["name"] <br/>
@ViewData["city"]  </br>





<br />
@Html.ActionLink("go to home", "index", "home")