
@{
    ViewBag.Title = "Ex9";
}

<h2>Ex9</h2>

@using (Html.BeginForm())
{
    <input type="submit" name="b1" value="ex1" />
    <input type="submit" name="b1" value="ex2" />
    <input type="submit" name="b1" value="ex3" />

}